# Credentials & environnement
.env
profiles.yml
 
# dbt
target/
dbt_packages/
logs/
 
# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
 
# OS
.DS_Store
Thumbs.db
 
# IDE
.vscode/
.idea/
*.code-workspace
 
verify.py
photos/
